@media (max-width:767px){
    .master-head{
        padding-top: 20px;
    }
    
    .page-nav{
        margin-bottom: 35px;
    }
    .page-nav-buttons{
        display: flex;
        flex-basis: 220px;
        justify-content: center;
        margin-bottom: 115px;
    }

    .text{
        margin: 0 0 17px;
    }
    
    .subtext{
        margin: 0 0 17px;
    }

    .section-title{
        margin: 0 0 20px;
    }

    .page-main{
        padding: 0 22px;
    }

    .partners-section{
        padding-top: 70px;
    }

    .partners-item{
         margin: 0 auto 29px;
    }

    .partners-item-pictures{
        margin: 0 auto 20px;
    }

    .partner-name{
        margin: 20px 0 15px;
    }
    
    .partner-bio{
        margin: 0 0 30px;
    }
}
/* TABLET VERSION */
@media (min-width: 768px) {
    
    /* .banner{
        
        width: 100%;
        height: 700px;
        margin-bottom: 70px;
        
    } */

    .master-head{
    padding-top: 45px;
    }

    .page-header{
        height: 698px;
        margin-bottom: 70px;
    }
    

    .page-nav{
        display: flex; 
        flex-direction: row-reverse;
        max-width: 663px;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 140px;
    }

    .text{
        font-size: 52px;
        line-height: 62px;
        display: block;
        width: 505px;
        margin: 0 auto 25px;
    }

    .subtext{
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 33px;
    }

    .find-button{
        width: 225px;

    }

    /* .page-main{
        padding: 0 128px 0;
    } */

    .section-title{
        margin-bottom: 35px;
    }

    .section-list-item:nth-child(2){
        order:1;
    }
    .section-list-item:nth-child(4){
        order:2;
    }

    .partners-item-pictures{
        margin: 0 auto;
    }

    .partners-item:nth-last-child(-n+2){
        margin-bottom: 35px;
    }

    .more{
        width: 193px;
        margin-bottom: 40px;
    }
}

/* DESKTOP VARIANT */

@media screen and (min-width: 1440px){

    .partners-list{
        width: 942px;
    }

    .partners-item{
        margin-bottom: 35px;
    }
}
    
