html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 17px;
}

.page-header{
    margin-bottom: 70px;
    height: 540px;
    background-image: url(/img/VectorSmartObject-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-color: black;
    min-height: 540px;
    max-height: 700px;
    text-align: center;
    background-position: center;
}



.nav-button{
    width: 90px;
    height: 32px;
    font-weight: 700;
    color: #ffffff;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    transition: 0.3s linear;
}

.nav-button:hover{
    border: 2px solid #fff;
    border-radius: 40px ;
}

.page-logo{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    cursor:pointer;

}

.text{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    
}

.subtext{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-align: center;
}

.find-button{
    width: 280px;
    height: 40px;
    border-radius: 40px;
    background-color: #ff4e50;
    color: #fff;
    border: #ff4e50;
    cursor: pointer;
}

.find-button:hover{
    transform: scale(1.05);
}

/* MAIN SECTION */
.page-main{
    text-align: center;
}

.section-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    
}



.partners-item{

    width: 217px;
}


.partners-item-pictures{
    position: relative;
    width: 122px;
}


.partner-bio{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    text-align: center;
    margin: 0;
}

.partners-item-icon{
    width: 33px;
    height: 33px;
    border: 4px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff4e50;
    background-repeat: no-repeat;
    border-radius: 50%;

}

.tv-icon{
    background-image: url(/img/icons/tv-icon.png);
    background-position: 50% 50%;
}

.chem-icon{
    background-image: url(/img/icons/chem-icon.png);
    background-color: #ffa507;
    background-position: 50% 50%;
}

.cup-icon{
    background-image: url(/img/icons/cup-icon.png);
    background-color: #1cd7ad;
    background-position: 50% 30%;
}

.plane-icon{
    background-image: url(/img/icons/plane-icon.png);
    background-color: #4e73db;
    background-position: 30% 50%;
}

.more{
    width: 280px;
    height: 40px;
    border: 2px solid #ff4e50;
    background-color: #fff;
    font-weight: 700;
    color: #ff4e50;
    border-radius: 40px;
    margin-bottom: 57px;
}

.more:hover{
    filter: drop-shadow(2px 2px 2px #ff4e50 );
    transform: scale(1.05);
}